doctype html
html
    head
        title = "PUG Tempalte Engine Example "
    body
        h1#greet.heading Welcome To Express PUG Example
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, optio.